<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    welcome page
    <a href="/auth/loginForm">로그인</a>
    <a href="/board/code_form">코드 업데이트</a>
    
</body>
</html>