<%- include ("./write_form") %>
  <%- include ("./modify_form") %>
    <%- include ("./team_selector") %>
      <!DOCTYPE html>
      <html lang='en'>

      <head>
        <meta charset='utf-8' />
        
        <link href="/static/css/write.css" rel="stylesheet">
        
      </head>

      <body>
        <div id='calendar'></div>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
        <script src="
        https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.11/index.global.min.js
"></script>
   <script src='https://code.jquery.com/jquery-3.7.1.min.js'></script>
   <script src="../../../static/js/calendar_write.js"></script>
   <script src="../../../static/js/calendar_modify.js"></script>
   <script src="../../../static/js/calendar_etc.js"></script>
   <script src="../../../static/js/fun.js"></script>
   <script src="../../../static/js/a.js"></script>
        
      </body>

      </html>