<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/registerCheck" method="post">

        <label for="userId">Username:</label>
        <input type="text" id="userId" name="userId" required> <br>

        <label for="password"  >Password:</label> 
        <input type="password" id="userPw" name="userPw" required> <br>

        <label for="userName"  >userName:</label> 
        <input type="text" id="userName" name="userName" required> <br>

        <label for="position">직책:</label> 
        <select id="position" name="position" required>
            <option value="">Select Position</option>
            <option value="PM">Project Manager</option>
            <option value="dev">Developer</option>
            <option value="client">Client</option>
        </select> <br>

        <button type="submit">Register</button>
    </form>

    <a href="/auth/loginForm">로그인 화면으로</a>
    
</body>
</html>